@import 'partials/general'

@import 'pieces/header'
// $primary, $lightprimary


#results
    margin-top: 2.8em
    .result
        position: relative
        min-height: 180px
        border-bottom: 1px solid $lightprimary
        margin-bottom: 2em
        overflow: hidden
        .thumbnail
            margin-right: 2em
        .meta
            position: relative
            top: 0
            min-height: 180px
            padding: 0.6em 0
            overflow: none
            h3
                font-size: 1.6em
                color: $primary
                margin-bottom: 0.4em
            p
                text-transform: lowercase


